/*--------- MAIN STYLES -------------------*/
html, body {
    font-family: Raleway, sans-serif;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
.wrapper{
    box-shadow: 0 5px 10px gray;
    width:960px;
    margin: 0 auto;
}
/*---------- NAV BAR ---------------------------*/
.nav-container{
    background-color: #eee;
    height: 35px;
    box-shadow: 0 8px 14px -10px rgba(0, 0, 0, .2);
}
.nav-right {
    float: right;
}
ul.navbar li{
    float: left;
}
ul.navbar{
    list-style-type: none;
    margin:0;
    padding:0;
}
ul.navbar li a {
    padding: 11px 12px;
    text-align: center;
    font-size: 12px;
    color: black;
    text-decoration: none;
    display: block;
}
li.dropdown{
    list-style-type: none
}
#welcome{
    font-weight: 900;
    color: #113C44;
    display: inline;
    /*float: right;*/
    margin-left: 200px;
    padding-top: 10px;
    font-size: 20px;
}

/* -------- NAV BAR HOVER ------------*/
ul.navbar li a:hover{
    color: #2E5077;
    animation: bounce .75s ease-out;
}
/*-------DROP DOWN-CONTENT ----------*/
.dropdown{
    padding: 11px 12px;
    text-align: center;
    font-size: 12px;
    color: black;
}
.drop-content{
    padding-left: 10px;
    margin-left: -3.3em;
    text-align: center;
    display:none;
    position: absolute;
    min-width: 88px;
    background-color: #eee;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.drop-content a{
    display: block;
    padding: 10px 16px;
}
.dropdown:hover .drop-content{
    display: block;
}
.drop-content a:hover{
    animation: bounce .75s ease-out;
    color:#2E5077;
}
.cart-icon{
    float:right;
    width: 4.5%;
    height: 4.5%;
    margin-right: -50px;
}
/*---------KEY FRAMES FOR NAV BAR ---------------*/
@keyframes bounce {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-2.5%)
    }
    100%{
        transform: translateY(0%)
    }
}
/*---------------- LEFT SIDE BAR -------------------*/
.l-sidebar{
    background-color: #EFEFEF;
    width: 150px;
    height: 350px;
    box-shadow: 4px 4px 14px -5px rgba(0, 0, 0, 0.2);
}
/*--------VERTICLE NAV BAR-------------------------*/
ul.vert-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
}
ul.vert-nav li a{
    display: block;
    text-decoration: none;
    padding: 8px 0 8px 10px;
    color: #113C44;
}
ul.vert-nav li a:hover{
    color: #2E5077;
    background-color: #C7C9C9 ;
}
/*----------------- FOOTER ------------------------*/
.footer{
    background-color: #113C44;
    height: 80px;
    max-width: 100%;
}

/*---------------- MEDIA QUERIES -------------------*/
@media (max-width: 960px) {
    .wrapper{
        max-width: 800px;
        margin: 0 auto;
    }
}
@media (max-width: 800px) {
    .wrapper {
        max-width: 700px;
        margin: 0 auto;
    }
}
@media (max-width: 725px) {
    .wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
}

