/*-------- MAIN STYLES -------------------*/
html, body {
    font-family: Raleway, sans-serif;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
.wrapper{
    box-shadow: 0 5px 10px gray;
    width: 960px;
    margin: 0 auto;
}

/*----------- NAV BAR --------------------------*/
.nav-container {
    background-color: #eee;
    height: 35px;
    box-shadow: 0 8px 14px -10px rgba(0,0,0,.2);
}
.nav-right {
    float: right;
}
li{
    float: left;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
li a {
    padding: 11px 12px;
    text-align: center;
    font-size: 12px;
    color: black;
    text-decoration: none;
    display: inline-block;
    /*width: 50%;*/
    height: 100%;
}
/* ---- NAV BAR HOVER -------*/
li a:hover{
    color:#2E5077;
    animation: bounce .75s ease-out;
}
/*----- NAV BAR DROP DOWN -----*/
.dropdown{
    padding: 11px 12px;
    text-align: center;
    font-size: 12px;
    color: black;
}
.drop-content{
    padding-left: 10px;
    margin-left: -3.3em;
    text-align: center;
    display:none;
    position: absolute;
    min-width: 88px;
    background-color:  #eee;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.drop-content a{
    display: block;
    padding: 10px 16px;
}
.dropdown:hover .drop-content{
    display: block;
}
.drop-content a:hover{
    color:#2E5077;
    animation: bounce .75s ease-out;
}
/*--------KEY FRAMES FOR NAV BAR-----------*/
@keyframes bounce {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-2.5%)
    }
    100%{
        transform: translateY(0%)
    }
}
/*----------CONTENT ----------------------------*/
.content{
    padding-top: 3%;
    padding-bottom: 5%;
    height: 500px;
    margin-top: -9px;
}
.signup-content{
    font-size: 12px;
    width: 30%;
    margin: auto;
    font-family: Roboto Slab, sans-serif;
    color: black;
    text-transform: uppercase;
    /*margin-left: 13px;*/
    /*margin-top: -4px;*/
}
 #errEmail, #errPassword, #nameErr, #errMobile, #errRepassword, #errAge, #errGender{
    font-size: 9px;
    color: red;
}
#signErr {
    font-size: 16px;
    color: red;
}


/*------SUBMIT BUTTON --------------*/
.log-sub-button{
    font-family: Roboto Slab, sans-serif;
    color: black;
    text-transform: uppercase;
    background: transparent;
    border: .5px solid black;
    width: 100px;
}

/** --------------- FOOTER -------------- **/
.footer{
    clear: both;
    background-color:  #113C44;
    height: 80px;
    max-width: 100%;
}

/** -------------- MEDIA QUERIES ------------- **/
@media (max-width: 960px) {
    .wrapper{
        max-width: 800px;
        margin: 0 auto;
    }
}
@media (max-width: 800px) {
    .wrapper {
        max-width: 700px;
        margin: 0 auto;
    }
}
@media (max-width: 725px) {
    .wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
}
