{% extends "../layout.html" %}

{% block navbar %}
    {% include "../dashNavbar.html" %}
{% endblock %}


{% block content %}

<div class="editUser-content">
    <form name="form" action="/dashboard/editUsers" onsubmit="" method="post">

        <p>Email:<br><input type="email" id="email" name="email" value="{{body.email}}"/></p>
        <div id="emailErr">{{ emailErr }}</div>
        <p>Select Role: </p><select>
            <option name="user" value="user"> User</option>
            <option name="admin" value="admin"> Admin</option>
        </select>
        <p>Enter password:<br><input id="password" type="password" name="password" value="{{body.password}}"/></p>
        <div id="passwordErr"></div>
        <p> Re-enter password: <br> <input type="password" name="repassword" value="{{body.repassword}}"/></p>
        <div id="repasswordErr"></div>
        <input class=sign-sub-button type="submit" value="submit"/>

    </form>
</div>

<script>
    var errors = '{{ errors |json | safe }}';
    var body = '{{ body |json | safe }}';
    console.log(JSON.parse(errors));
    console.log(errors);
    console.log(body);
    errors = JSON.parse(errors);
    for (var i = 0; i < errors.length; i++) { // ----- loop through array of errors
        console.log('looping through errors');
        var elem = document.getElementById(errors[i].field);
        if (!elem) {
            console.log('err');

        }
        elem.innerHTML = errors[i].message;
    }
    </script>

{% endblock %}