<!---------- NAV BAR ------------------>
<div class="nav-container">
    <ul class="navbar">

        <li><a href="/">Home</a></li>
        {% for category in categories %}
            <li><a href="/categories/{{ category.name}}">{{ category.name}}</a></li>
        {% endfor %}

        {% block loggedInLink %}
        {% if user != null %}
      <div id='welcome'>   <li class ="welcomeName">hello {{user.name}}!</li>
          <li>  <img class="cart-icon" src="../images/cart.png"></li>
        </div>
        {% endif %}
        {% endblock %}

        {% block loggedInLink %}
        {% if user != null && user.roles == 'Admin' %}
        <li id="loggedInLink"><a href="/dashboard">Dashboard</a></li>
        {% endif %}
        {% endblock %}

        <ul class="nav-right">
            <li class="dropdown"><span>Account </span>
                <div class="drop-content">
                    {% block loggedInLink %}
                        {% if user == null %} <a href="/signup">Sign Up</a> {% endif %}
                    {% endblock %}
                    {% block loggedInLink %}
                        {% if user == null %} <a href="/login">Log In</a> {% endif %}
                    {% endblock %}
                    {% block loggedInLink %}
                        {% if user != null %} <a href="/logout">Log Out </a>{% endif %}
                    {% endblock %}
                </div>
            </li>
        </ul>
    </ul>
</div>