{% extends "layout.html" %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../public/css/horizontal-nav-bar/contact.css">

<h1>Contact Us</h1>
<form name="myForm" action="" onsubmit="return logInController(this);" method="post">
    <p>Email:<br><input id="email" type="text" name="email"/></p>
    <div id="errEmail"></div>
    <p>Comments:<br><input id="text" type="text" name="password"/></p>
    <div id="errPassword"></div>
    <input class=log-sub-button onclick="verifyLogIn()" type="submit" value="submit" name="button"/>
</form>

{% endblock %}