{% extends "layout.html" %}

{% block content %}

<div class="login-content">
    <form name="myForm" action="" onsubmit=" return logInController(this)" method="post">
        <p>Email:<br><input id="email" type="text" name="email"/></p>
        <div id="errEmail"></div>
        <p>Password:<br><input id="password" type="password" name="password"/></p>
        <div id="errPassword"></div>
        <input class="log-sub-button" type="submit" value="submit" name="button"/>
        <a id="forgot" class="password" href="#"><p>Forgot Password</p></a>
    </form>
    <div id="messageArea"></div>

</div>

{% endblock %}