
/*---------------- LEFT SIDE BAR -------------------*/
.l-sidebar {
    float: left;
    background-color: #EFEFEF;
    width: 150px;
    height: 500px;
    margin-left: -182.7px;
    box-shadow: 5px 5px 14px -5px rgba(0, 0, 0, 0.2);
    /*box-shadow: 1px 10px 14px -10px rgba(0, 0, 0, .2);*/
}

/*--------VERTICAL NAV BAR-------------------------*/
ul.vert-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
}
ul.vert-nav li a {
    display: block;
    text-decoration: none;
    padding: 9px 39px 7px 27px;
    color: black;
}
ul.vert-nav li:first-child{
    margin-top: 20px;
}
ul.vert-nav li a:hover {
    color: #174E59;
    background-color: #C7C9C9;
    width: 83px;
}